$Set_A_Base: #0C2E59;        /* Dark Blue */
$Set_A_Dulled_A: #175073;    /* Light Blue */
$Set_A_Dulled_B: #2E8C83;    /* Light Green */
$Set_A_Bright_A: #05F2AF;    /* Bright Green */
$Set_A_Bright_B: #D9525E;    /* Bright Red */